In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\honoc\Documents\CareerFoundry Folder\Python Fundamentals for Data Analysts\Exercise 4.3 Folder'
path
df_ords_prior = pd.read_csv(os.path.join(path, 'Original data', 'orders_products_prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, 'Prepared data', 'orders_checked.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, 'Prepared data', 'products_checked.csv'), index_col = False)

In [3]:
df_ords_prior.shape

(32434489, 4)

Checking for Missing values in orders_products_prior

In [13]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

No missing values found

In [15]:
df_dups = df_ords_prior[df_ords_prior.duplicated()]
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

No duplicates found

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,1,2398795,1,prior,2,3,7,15.0
1,2,473747,1,prior,3,3,12,21.0
2,3,2254736,1,prior,4,4,7,29.0
3,4,431534,1,prior,5,4,15,28.0
4,5,3367565,1,prior,6,2,7,19.0

In [6]:
df_ords

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,1,2398795,1,prior,2,3,7,15.0
1,2,473747,1,prior,3,3,12,21.0
2,3,2254736,1,prior,4,4,7,29.0
3,4,431534,1,prior,5,4,15,28.0
4,5,3367565,1,prior,6,2,7,19.0
...,...,...,...,...,...,...,...,...
3214869,3421078,2266710,206209,prior,10,5,18,29.0
3214870,3421079,1854736,206209,prior,11,4,10,30.0
3214871,3421080,626363,206209,prior,12,1,12,18.0
3214872,3421081,2977660,206209,prior,13,1,12,7.0
3214873,3421082,272231,206209,train,14,6,14,30.0

In [7]:
df_ords.shape

(3214874, 8)

1.	If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

In [8]:
df_merged_large = df_ords.merge(df_ords_prior, on= 'order_id', indicator= True)

In [9]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [10]:
df_merged_large['_merge'].value_counts()

_merge
both          30356421
left_only            0
right_only           0
Name: count, dtype: int64

In [11]:
# Dropping '_merge' column before export because I will still need the column name for the next merge with df_prods
df_merged_large.drop(columns= ['_merge'])

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1,2398795,1,prior,2,3,7,15.0,196,1,1
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1
...,...,...,...,...,...,...,...,...,...,...,...
30356416,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1
30356417,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0
30356418,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0
30356419,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0
30356420,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0

2.	Export the merged file in pickle format as “orders_products_combined.pkl”.

In [12]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared data', 'orders_products_combined.pkl'))