In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

3.	Import your analysis libraries, as well as your new customer data set as a dataframe.

In [2]:
path = r'C:\Users\honoc\Documents\CareerFoundry Folder\Python Fundamentals for Data Analysts\Exercise 4.3 Folder'
path
df_cust = pd.read_csv(os.path.join(path, 'Original data', 'customers.csv'), index_col = False)

4.	Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [28]:
df_cust.shape

(206209, 10)

In [3]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [4]:
df_cust.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

Renaming columns

In [5]:
df_cust.rename(columns= {'First Name': 'first_name',
                         'Surnam': 'last_name',
                         'STATE': 'State',
                         'n_dependants': 'number_of_dependants',
                         'fam_status': 'marital_status',
                         'income': 'customer_income'
                         }, inplace=True)

In [6]:
df_cust.head()

,user_id,first_name,last_name,Gender,State,Age,date_joined,number_of_dependants,marital_status,customer_income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
df_cust.describe()

             user_id            Age  number_of_dependants  customer_income
count  206209.000000  206209.000000         206209.000000    206209.000000
mean   103105.000000      49.501646              1.499823     94632.852548
std     59527.555167      18.480962              1.118433     42473.786988
min         1.000000      18.000000              0.000000     25903.000000
25%     51553.000000      33.000000              0.000000     59874.000000
50%    103105.000000      49.000000              1.000000     93547.000000
75%    154657.000000      66.000000              3.000000    124244.000000
max    206209.000000      81.000000              3.000000    593901.000000

Changing "user_id" datatype from 'int64' to 'str'

In [8]:
df_cust['user_id'] = df_cust['user_id'].astype('str')
df_cust['user_id'].dtype

dtype('O')

In [9]:
df_cust.describe()

                 Age  number_of_dependants  customer_income
count  206209.000000         206209.000000    206209.000000
mean       49.501646              1.499823     94632.852548
std        18.480962              1.118433     42473.786988
min        18.000000              0.000000     25903.000000
25%        33.000000              0.000000     59874.000000
50%        49.000000              1.000000     93547.000000
75%        66.000000              3.000000    124244.000000
max        81.000000              3.000000    593901.000000

In [10]:
df_cust['user_id'].value_counts()

user_id
26711     1
67322     1
173044    1
61044     1
98344     1
         ..
146847    1
154991    1
172193    1
184326    1
80148     1
Name: count, Length: 206209, dtype: int64

5.	Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

Creating a custom function that searches the dataframe for mixed-type columns.

In [11]:
# Check for mixed types
for col in df_cust.columns.tolist():
    weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_cust[weird]) > 0:
        print(col)

first_name

Fixing mixed-type column "first_name"

In [12]:
df_cust['first_name'] = df_cust['first_name'].astype('str')

In [13]:
for col in df_cust.columns.tolist():
    weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
    if len(df_cust[weird]) > 0:
        print(col)

Performing Consistency Checks on "df_cust" Dataframe. Finding Missing Values in "df_cust" dataframe

In [14]:
df_cust.isnull().sum()

user_id                 0
first_name              0
last_name               0
Gender                  0
State                   0
Age                     0
date_joined             0
number_of_dependants    0
marital_status          0
customer_income         0
dtype: int64

No Missing values found

In [15]:
df_cust.shape

(206209, 10)

Finding Duplicates

In [16]:
df_dups = df_cust[df_cust.duplicated()]
df_dups

Empty DataFrame
Columns: [user_id, first_name, last_name, Gender, State, Age, date_joined, number_of_dependants, marital_status, customer_income]
Index: []

No Duplicates found

6.	Combine your customer data with the rest of your prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [17]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared data', 'orders_products_grouping_and_aggregating.pkl'))

In [18]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,price_range_loc,busiest_day,slowest_day,busiest_period_of_day,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,NaN,NaN
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,Low spender,Non-frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,Mid-range product,Busiest days,Busiest days,Fewest orders,5,New customer,Low spender,Regular customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,Mid-range product,Slowest days,Slowest days,Average orders,3,New customer,Low spender,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,7,0,Mid-range product,Busiest days,Busiest days,Fewest orders,26,Regular customer,Low spender,Regular customer

In [19]:
ords_prods_merge.shape

(30328763, 21)

In [20]:
df_cust.shape

(206209, 10)

In [21]:
ords_prods_merge.dtypes

product_id                  int64
product_name               object
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
add_to_cart_order           int64
reordered                   int64
price_range_loc            object
busiest_day                object
slowest_day                object
busiest_period_of_day      object
max_order                   int64
loyalty_flag               object
spending_flag              object
order_frequency_flag       object
dtype: object

In [22]:
df_cust.dtypes

user_id                 object
first_name              object
last_name               object
Gender                  object
State                   object
Age                      int64
date_joined             object
number_of_dependants     int64
marital_status          object
customer_income          int64
dtype: object

Changing "user_id" dtype from "object" to "int64" in "df_cust" dataframe to facilitate merging with "ords_prods_merge" dataframe

In [23]:
df_cust['user_id'] = df_cust['user_id'].astype('int64')
df_cust['user_id'].dtype

dtype('int64')

Merging both dataframes

In [24]:
df_instacart_merged = ords_prods_merge.merge(df_cust, on= 'user_id', indicator= True)

In [25]:
df_instacart_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,last_name,Gender,State,Age,date_joined,number_of_dependants,marital_status,customer_income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
3,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
4,3265,Mini Seedless Watermelon Pack,32,4,1.7,960220,138,17,5,14,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both

In [26]:
df_instacart_merged['_merge'].value_counts()

_merge
both          30328763
left_only            0
right_only           0
Name: count, dtype: int64

Exporting "df_instacart_merged" as pickle file

In [27]:
df_instacart_merged.to_pickle(os.path.join(path, 'Prepared data', 'instacart_merged.pkl'))