In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

3.	In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [2]:
path = r'C:\Users\honoc\Documents\CareerFoundry Folder\Python Fundamentals for Data Analysts\Exercise 4.3 Folder'
path
df_ords_combined = pd.read_pickle(os.path.join(path, 'Prepared data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, 'Prepared data', 'products_checked.csv'), index_col = False)

4.	Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [3]:
df_ords_combined.shape

(30356421, 10)

In [4]:
df_ords_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,2,3,7,15.0,196,1,1,both
1,2398795,1,2,3,7,15.0,10258,2,0,both
2,2398795,1,2,3,7,15.0,12427,3,1,both
3,2398795,1,2,3,7,15.0,13176,4,0,both
4,2398795,1,2,3,7,15.0,26088,5,1,both

In [5]:
# Dropping '_merge' column as it will be a problem with running match counts during merger with df_prods
df_ords_combined.drop(columns= ['_merge'])

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2398795,1,2,3,7,15.0,196,1,1
1,2398795,1,2,3,7,15.0,10258,2,0
2,2398795,1,2,3,7,15.0,12427,3,1
3,2398795,1,2,3,7,15.0,13176,4,0
4,2398795,1,2,3,7,15.0,26088,5,1
...,...,...,...,...,...,...,...,...,...
30356416,2977660,206209,13,1,12,7.0,14197,5,1
30356417,2977660,206209,13,1,12,7.0,38730,6,0
30356418,2977660,206209,13,1,12,7.0,31477,7,0
30356419,2977660,206209,13,1,12,7.0,6567,8,0
30356420,2977660,206209,13,1,12,7.0,22920,9,0

In [6]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
# Dropping 'unnamed' column to avoid duplication of index numbers
df_prods.drop(columns= ['Unnamed: 0'])

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [8]:
df_prods.shape

(49672, 6)

5.	Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [10]:
df_ords_prods_merged = df_prods.merge(df_ords_combined, on= 'product_id')

In [12]:
pd.merge(df_prods,df_ords_combined, on= 'product_id', indicator= False)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30328758,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3106363,197371,10,4,14,30.0,17,0,both
30328759,49692,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,2,0,9,5.0,27,0,both
30328760,49692,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,5,3,8,15.0,12,0,both
30328761,49692,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,9,3,15,5.0,11,1,both
30328762,49692,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,11,1,15,6.0,35,0,both

6.	Confirm the results of the merge using the merge flag.

In [13]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          30328763
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
df_ords_prods_merged.drop(columns= ['Unnamed: 0'])

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30328758,49688,Fresh Foaming Cleanser,73,11,13.5,3106363,197371,10,4,14,30.0,17,0,both
30328759,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,2,0,9,5.0,27,0,both
30328760,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,5,3,8,15.0,12,0,both
30328761,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,9,3,15,5.0,11,1,both
30328762,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,11,1,15,6.0,35,0,both

In [16]:
df_ords_prods_merged.shape

(30328763, 15)

7.	Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [17]:
df_ords_prods_merged.to_pickle(os.path.join(path, 'Prepared data', 'orders_products_merged.pkl'))