1.	Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\honoc\Documents\CareerFoundry Folder\Python Fundamentals for Data Analysts\Exercise 4.3 Folder'
path
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared data', 'orders_products_new_variables.pkl'))

In [3]:
ords_prods_merge.shape

(30328763, 17)

2.	In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

Grouping dataframe by "department_id"

In [5]:
ords_prods_merge.groupby('department_id')

In [6]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.559358
2                18.413176
3                18.279600
4                18.915890
5                16.497751
6                17.609390
7                18.303975
8                16.383301
9                17.022963
10               21.227447
11               17.311768
12               16.953613
13               17.727470
14               17.898097
15               17.290123
16               18.757796
17               16.808683
18               20.336389
19               18.258620
20               17.578959
21               23.644477

3.	How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.Analyze the result. 
The absolute differences in mean values between the subset and the entire dataframe are relatively small, with most departments differing by less than one uint, but there are some departments with larger differences, such as departments with IDs: [10, 12, 21]

4.	Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

Creating a loyalty flag "transform()" and "loc()" functions

In [8]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,slowest_day,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest days,Busiest days,Fewest orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Slowest days,Slowest days,Average orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,Mid-range product,Busiest days,Busiest days,Fewest orders,26
5,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,Mid-range product,Regularly busy,Regularly busy,Most orders,9
6,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,Mid-range product,Slowest days,Slowest days,Most orders,12
7,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,Mid-range product,Busiest days,Busiest days,Fewest orders,20
8,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,Mid-range product,Busiest days,Busiest days,Most orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,Mid-range product,Slowest days,Slowest days,Most orders,43
10,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,Mid-range product,Slowest days,Slowest days,Most orders,43
11,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,Mid-range product,Regularly busy,Regularly busy,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,Mid-range product,Slowest days,Slowest days,Most orders,13
13,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6.0,18,1,Mid-range product,Regularly busy,Regularly busy,Average orders,13
14,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10.0,12,1,Mid-range product,Regularly busy,Regularly busy,Average orders,13

Deriving columns with loc() function with the following criteria:
(i)If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
(ii)If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
(iii)If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [9]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [10]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [11]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
ords_prods_merge['loyalty_flag'].value_counts(dropna= False)

loyalty_flag
Regular customer    15081691
Loyal customer      10095381
New customer         5151691
Name: count, dtype: int64

5.	The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [16]:
# Group the data by 'loyalty_flag' and 'price_range_loc'
loyalty_price_stats = ords_prods_merge.groupby(['loyalty_flag', 'price_range_loc'])['prices'].describe()
loyalty_price_stats

                                          count        mean          std  \
loyalty_flag     price_range_loc
Loyal customer   High-range product    117725.0  245.848779  3037.560585
                 Low-range product    3155876.0    3.035962     1.192488
                 Mid-range product    6821780.0    9.746741     2.882215
New customer     High-range product     70682.0  428.111828  5146.051169
                 Low-range product    1610629.0    3.010562     1.204013
                 Mid-range product    3470380.0    9.769844     2.899192
Regular customer High-range product    201438.0  375.909731  4709.740288
                 Low-range product    4710269.0    3.019118     1.200118
                 Mid-range product   10169984.0    9.762477     2.894435

                                      min   25%   50%   75%      max
loyalty_flag     price_range_loc
Loyal customer   High-range product  15.1  18.6  21.1  23.1  99999.0
                 Low-range product    1.0   2.0   3.1   4.0      5.0
                 Mid-range product    5.1   7.2   9.5  12.3     15.0
New customer     High-range product  15.1  18.5  20.9  23.2  99999.0
                 Low-range product    1.0   1.9   3.1   4.0      5.0
                 Mid-range product    5.1   7.2   9.6  12.3     15.0
Regular customer High-range product  15.1  18.6  21.1  23.2  99999.0
                 Low-range product    1.0   1.9   3.1   4.0      5.0
                 Mid-range product    5.1   7.2   9.6  12.3     15.0

6.	The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

In [17]:
# Calculate the mean price for each user
user_mean_prices = ords_prods_merge.groupby('user_id')['prices'].mean()

In [21]:
# Create a function to categorize users based on mean prices
def categorize_spending(mean_price):
    if mean_price < 10:
        return 'Low spender'
    else:
        return 'High spender'

In [22]:
# Apply the categorize_spending function and create a new column 'spending_flag'
ords_prods_merge['spending_flag'] = user_mean_prices.apply(categorize_spending)

In [24]:
# Display the value counts of the 'spending_flag' column
spending_flag_counts = ords_prods_merge['spending_flag'].value_counts()
spending_flag_counts

spending_flag
Low spender     200071
High spender      6137
Name: count, dtype: int64

7.	In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
o	If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
o	If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
o	If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [25]:
# Calculate the median of "days_since_prior_order" for each user
user_median_days_since_order = ords_prods_merge.groupby('user_id')['days_since_prior_order'].median()

In [26]:
# Create a function to categorize users based on the median days_since_prior_order
def categorize_order_frequency(median_days_since_order):
    if median_days_since_order > 20:
        return 'Non-frequent customer'
    elif 10 < median_days_since_order <= 20:
        return 'Regular customer'
    else:
        return 'Frequent customer'

In [27]:
# Apply the categorize_order_frequency function and create a new column 'order_frequency_flag' in the Dataframe
ords_prods_merge['order_frequency_flag'] = user_median_days_since_order.apply(categorize_order_frequency)

In [29]:
# Display the value counts of the 'order_frequency_flag' column
order_frequency_flag_counts = ords_prods_merge['order_frequency_flag'].value_counts()
order_frequency_flag_counts

order_frequency_flag
Frequent customer        86596
Regular customer         59993
Non-frequent customer    59619
Name: count, dtype: int64

In [30]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,price_range_loc,busiest_day,slowest_day,busiest_period_of_day,max_order,loyalty_flag,spending_flag,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,NaN,NaN
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,Low spender,Non-frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,Mid-range product,Busiest days,Busiest days,Fewest orders,5,New customer,Low spender,Regular customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,Mid-range product,Slowest days,Slowest days,Average orders,3,New customer,Low spender,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,7,0,Mid-range product,Busiest days,Busiest days,Fewest orders,26,Regular customer,Low spender,Regular customer

In [31]:
ords_prods_merge.to_pickle(os.path.join(path, 'Prepared data', 'orders_products_grouping_and_aggregating.pkl'))

DATA QUALITY REMINDER
Keep in mind that this step should have been completed during the data prep stages of your project. It isn’t generally a good idea to still be cleaning your data in the visualization stage. This example does demonstrate, however, just how easy it is for dirty data to slip through your net.

To keep your data cleaning tasks in one place, we recommend you copy the code from above into your notebook from Exercise 4.8. This will ensure your current notebook is strictly related to data visualization.


For now, let’s mark them as missing since they don’t make sense in terms of the other values in the column. To turn them into NaNs, use the following code: i.e., REPLACING OUTLIERS WITH MISSING VALUES

ords_prods_merge.loc[ords_prods_merge['prices'] > 100, 'prices'] = np.nan